body {
  background-color: rgb(231, 231, 89);
  font-family: "Courier New", Courier, monospace;
}
h1 {
  text-align: center;
  text-decoration-line: underline;
  font-variant: small-caps;
  font-size: 45px;
}
h3 {
  text-decoration-line: underline;
}
.paper {
  background-color: white;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 20px;
  align-items: center;
}
#fname,
#lname,
#yoe,
#salary,
#gen,
#edu,
#btn {
  border: 2px solid red;
  height: 25px;
  border-radius: 20px;
}
#btn {
  width: 200px;
  cursor: pointer;
  font-weight: bold;
  position: static;
  margin-left: 150px;
}
