body {
  background-color: rgb(231, 231, 89);
}
h1 {
  text-align: center;
  text-decoration-line: underline;
}
h3 {
  text-decoration-line: underline;
}
.paper {
  background-color: white;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
  align-items: center;
}
#fname,
#lname,
#yoe,
#salary,
#gen,
#edu,
#btn {
  border: 2px solid red;
  height: 25px;
  border-radius: 20px;
}
#btn {
  width: 200px;
  cursor: pointer;
}
